.baner-holder {
  background-repeat: repeat 0 0;
  width: 100%;
  height: auto;
  position: relative;
  padding: 45px 5%;
  border: 2px dotted #835a5a; }
  .baner-holder .baner-holder__image {
    position: absolute;
    bottom: 0;
    right: 12%;
    width: 25%;
    height: auto; }

.baner-holder__text {
  width: 60%;
  height: auto; }
  .baner-holder__text .baner-holder__text-title {
    font-size: 25px;
    line-height: 43px;
    color: red;
    background: #fff;
    text-align: center;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 47%; }
  .baner-holder__text .baner-holder__text-description {
    font-size: 36px;
    line-height: 82px;
    padding-left: 17px;
    color: #835a5a;
    text-align: center; }

 @media screen and (max-width: 1045px) {
  .baner-holder .baner-holder__image {
    width: 30%;
    right: 5%; } }

@media screen and (max-width: 950px) {
  .baner-holder .baner-holder__image {
    width: 35%;
    right: 5%; } }

@media screen and (max-width: 770px) {
  .baner-holder .baner-holder__image {
    width: 38%;
    right: 3%; } }

@media screen and (max-width: 720px) {
  .baner-holder {
    width: 90%; } }

@media screen and (max-width: 440px) {
  .baner-holder .baner-holder__image {
    width: 49%;
    right: 1%; } }
