.heading-main {
  font-size: 30px;
  margin: 0 auto;
  text-align: center;
  margin-bottom: 14px; }
  .heading-main span {
    display: block; }

.heading {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  justify-content: center;
  position: relative;
  text-transform: uppercase;
  color: #e94310;
  font-weight: bold;
  font-size: 22px; }
  .heading .arrow-top {
    position: absolute;
    width: 0;
    height: 0;
    border: 26px solid transparent;
    border-top-color: #e94310;
    border-bottom: 0;
    top: 104%; }

.heading-product {
  text-align: center;
  font-size: 22px;
  line-height: 26px;
  color: #835a5a; }
  .heading-product .heading-product__content {
    padding: 28px; }

hr {
  background-image: -webkit-gradient(linear, left top, right top, from(rgba(150, 13, 110, 0)), color-stop(rgba(150, 13, 110, 0.45)), to(rgba(150, 13, 110, 0)));
  background-image: -webkit-linear-gradient(left, rgba(150, 13, 110, 0), rgba(150, 13, 110, 0.45), rgba(150, 13, 110, 0));
  background-image: -o-linear-gradient(left, rgba(150, 13, 110, 0), rgba(150, 13, 110, 0.45), rgba(150, 13, 110, 0));
  background-image: linear-gradient(to right, rgba(150, 13, 110, 0), rgba(150, 13, 110, 0.45), rgba(150, 13, 110, 0));
  border: 0 none;
  height: 3px; }

.title {
  font-size: calc((100vw - 320px)/ (1800 - 320) * (36 - 22) + 22px);
  line-height: calc((100vw - 320px)/ (1800 - 320) * (36 - 28) + 28px);
  padding: 5px 0; }

.red {
  font-size: font-size: calc((100vw - 320px)/ (1800 - 320) * (30 - 22) + 22px);
  line-height: calc((100vw - 320px)/ (1800 - 320) * (30 - 26) + 21px);
  text-transform: uppercase;
  color: #f52a0e; }

#go-top {
  position: fixed;
  font-family: sans-serif;
  line-height: 30px;
  text-align: center;
  color: #fff;
  bottom: 25px;
  right: 10px;
  cursor: pointer;
  display: none;
  width: 70px;
  height: 30px;
  background: #c0c0c0;
  border-radius: 5px; }

#go-top:hover {
  background: #333; }

@media screen and (max-width: 540px) {
  .title {
    font-size: 28px;
    line-height: 28px; }
  .red {
    font-size: 26px; } }

@media screen and (max-width: 418px) {
  .title {
    font-size: 24px;
    line-height: 26px; }
  .red {
    font-size: 22px; } }

@media screen and (max-width: 378px) {
  .title {
    font-size: 19px; }
  .red {
    font-size: 20px; } }
